<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="h-screen bg-gray-100 w-screen flex items-center justify-center">
        <div class="w-1/2 h-1/2 m-auto p-10 rounded-3xl bg-indigo-200 flex justify-center shadow-lg shadow-indigo-600">
            <div class="w-2/5 h-full content-center bg-gray-200 rounded-3xl gap-4 p-4 m-auto">
                <div class="h-fit flex-col justify-center content-center items-center">
                    <label>
                        <input placeholder="IP address 1" class="ip-input h-1/10 w-full rounded-lg text-center my-1 hover:bg-yellow-100 focus:bg-yellow-100"/>
                    </label>
                    <label>
                        <input placeholder="IP address 2" class="ip-input w-full h-1/10 rounded-lg text-center my-1 hover:bg-yellow-100 focus:bg-yellow-100"/>
                    </label>
                    <label>
                        <input placeholder="IP address 3" class="ip-input w-full h-1/10 rounded-lg text-center my-1 hover:bg-yellow-100 focus:bg-yellow-100"/>
                    </label>
                    <label>
                        <input placeholder="IP address 4" class="ip-input w-full h-1/10 rounded-lg text-center my-1 hover:bg-yellow-100 focus:bg-yellow-100"/>
                    </label>
                    <label>
                        <input placeholder="IP address 5" class="ip-input w-full h-1/10 rounded-lg text-center my-1 hover:bg-yellow-100 focus:bg-yellow-100"/>
                    </label>
                </div>
            </div>
            <button
                    class="w-1/3 h-1/4 rounded-lg bg-green-200 m-auto text-center p-2 font-bold text-lg hover:bg-green-400 active:bg-green-700"
                    onclick="submit()"
            >
                Submit
            </button>
        </div>
    </div>
</body>
<script src="/static/js/index.js"></script>
</html>